<header>
    <nav>
        <a href="/">Foliary</a>
        <ul>
            <li><a href="/plants/search">Search Plants</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
            <li><a href="/log-in">Log In</a></li>

        </ul>
        
    </nav>
</header>